* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
	font-family: 'Handuk';
	src: url('font/Handuk.otf');
}

.container {
	display: flex;
}

.menu-header {
	z-index: 1;
	color: #F6F6F6;
	box-shadow: .2rem 0 .3rem #00000050;
	background-color: #111;
}

.menu {
	width: 9rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
	position: relative;
}

.menu h1 {
	width: 50%;
	font-weight: 200;
	transition: 1s;
	border-top: .1rem solid #DAB600;
	border-bottom: .1rem solid #DAB600;
	padding: .2rem .3rem .3rem 1.5rem;
	margin-top: 1rem;
}

.menu a {
	text-decoration: none;
	color: #F6F6F6;
}

.menu h1:hover {
	width: 100%;
}

.menu ul {
	width: 90%;
	list-style: none;
	margin-left: .5rem;
}

.menu li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: .4rem;
	cursor: pointer;
	transition: .2s;
	padding: .3rem .5rem .4rem;
}

.menu li + li {
	margin-top: 1rem;
}

.menu li:hover {
	color: #111;
	background-color: #DAB600;
}

@keyframes mover-seta {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}

.menu li:hover span {
  animation: mover-seta 0.6s ease-in-out infinite;
}

.conteudo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	color: #F6F6F6;
	background-color: #111;
}

abbr::after {
    content: attr(title);
    display: block;
    font-size: 0.65rem;
    color: #888;
    margin-top: 2px;
  }

.amarelo {
	color: #DAB600;
}

.tracking-in-expand {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-family: 'Handuk';
	font-size: 5rem;
	transition: 3s;
	animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-expand:hover {
	color: #DAB600;
}

.tracking-in-expand img {
	width: 1.5rem;
	border-bottom: .2rem solid #F6F6F6;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.modal-criar {
	display: none;
	flex-direction: column;
	width: fit-content;
	border-radius: .5rem;
	position: absolute;
	top: 12.1rem;
	left: 10rem;
	box-shadow: .2rem .2rem .3rem #00000031;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-criar h2 {
	font-size: 1rem;
	font-weight: 100;
	margin-bottom: .5rem;
}

#caixaTarefa {
	width: 15rem;
	height: 1.5rem;
	background-color: #F6F6F6;
	padding: .8rem .5rem;
}

.adicionar-tarefa {
	width: 5rem;
	border: none;
	border-radius: .3rem;
	cursor: pointer;
	transition: .1s;
	color: #111;
	background-color: #DAB600;
	padding: .5rem;
	margin-top: 1rem;
}

.adicionar-tarefa:hover {
	color: #F6F6F6;
	background-color: #333;
}

.modal-pendentes-box {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 12.1rem;
	left: 10rem;
	width: 29rem;
	border-radius: .5rem;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-pendentes-box h2 {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: 100;
	border-bottom: .1rem solid #F6F6F6;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
}

.modal-pendentes {
	width: 100%;
}

.modal-pendentes p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: .1rem;
	margin-bottom: .1rem;
	border-bottom: .1rem solid transparent;
	transition: .3s;
	overflow: hidden;
	white-space: nowrap;
}

.modal-pendentes p abbr {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.modal-pendentes p {
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid #333;
	transition: .3s;
	padding: .1rem;
	margin-bottom: .1rem;
}

.modal-pendentes p:hover {
	color: #DAB600;
}

.info {
	width: 1rem;
	height: 1rem;
}

.finalizar {
  color: #6B1E1E;
  cursor: pointer;
  transition: color 0.3s ease;
}

.finalizar:hover {
  color: #FF0000;
}

abbr {
	text-decoration: none;
}

.modal-finalizadas-box {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 12.1rem;
	left: 10rem;
	width: 29rem;
	border-radius: .5rem;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-finalizadas-box h2 {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: 100;
	border-bottom: .1rem solid #F6F6F6;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
}

.delete {
	cursor: pointer;
}

.modal-finalizadas p abbr {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.modal-finalizadas p {
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid #333;
	transition: .3s;
	padding: .1rem;
	margin-bottom: .1rem;
}

.modal-finalizadas p:hover {
	color: #DAB600;
}

.modal-finalizadas {
	width: 100%;
}

.restaurar {
	color: #304529;
}

.restaurar:hover {
	color: #02F614;
}

.modal-pendentes-box,
.modal-finalizadas-box {
	max-height: calc(1.6rem * 15 + 10px);
	overflow-y: auto;
}

.modal-editar-conteudo h2 {
	font-size: 1rem;
	font-weight: 100;
	border-bottom: .1rem solid #F6F6F6;
	padding-bottom: .3rem;
}

.vazio {
	text-align: center;
}

.editar-texto {
	cursor: pointer;
	transition: color 0.3s ease;
	color: #304529;
}

.editar-texto:hover {
	color: #02F614;
}

.modal {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	display: none;
}

.modal.mostrar {
	display: flex;
	opacity: 1;
	transform: translateY(0);
}

.modal-editar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.modal-editar-conteudo {
	background-color: #1E1E1E;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: 0 0 1rem #00000080;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: #F6F6F6;
}

.modal-editar input {
	padding: .5rem;
	border-radius: .3rem;
	border: none;
	background-color: #f6f6f6;
	color: #111;
}

.botoes-editar {
	display: flex;
	justify-content: space-between;
}

.botoes-editar button {
	padding: .5rem 1rem;
	border: none;
	border-radius: .3rem;
	cursor: pointer;
}

#btnSalvar {
	background-color: #DAB600;
	color: #111;
}

#btnCancelar {
	background-color: #333;
	color: #F6F6F6;
}

.hidden {
	display: none;
}

@media screen and (max-width: 767px) {
	.menu {
		width: 7rem;
	}

	.menu h1 {
		padding: .3rem .3rem .3rem .8rem;
	}

	.menu ul {
		margin-left: .3rem;
	}

	.menu li {
		font-size: .9rem;
		padding: .3rem rem .4rem .2rem;
	}

	.tracking-in-expand {
		font-size: 2.5rem;
	}

	.tracking-in-expand img {
		width: 1rem;
  }

	.modal-criar {
		left: 7.3rem;
	}

	.modal-pendentes-box {
		width: 19rem;
		left: 7.3rem;
	}

	.modal-finalizadas-box {
		width: 19rem;
		left: 7.3rem;
	}
}