* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
	font-family: 'Handuk';
	src: url('font/Handuk.otf');
}

.container {
	display: flex;
}

.menu-header {
	z-index: 1;
	color: #F6F6F6;
	box-shadow: .2rem 0 .3rem #00000050;
	background-color: #111;
}

.menu {
	width: 9rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
	position: relative;
}

.menu h1 {
	width: 50%;
	font-weight: 200;
	transition: 1s;
	border-top: .1rem solid #DAB600;
	border-bottom: .1rem solid #DAB600;
	padding: .2rem .3rem .3rem 1.5rem;
	margin-top: 1rem;
}

.menu a {
	text-decoration: none;
	color: #F6F6F6;
}

.menu h1:hover {
	width: 100%;
}

.menu ul {
	width: 90%;
	list-style: none;
	margin-left: .5rem;
}

.menu li {
	display: flex;
	justify-content: space-between;
	border-radius: .4rem;
	cursor: pointer;
	transition: .2s;
	padding: .3rem .5rem .4rem;
}

.menu li + li {
	margin-top: 1rem;
}

.menu li:hover {
	color: #111;
	background-color: #DAB600;
}

.conteudo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	color: #F6F6F6;
	background-color: #111;
}

.amarelo {
	color: #DAB600;
}

.tracking-in-expand {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-family: 'Handuk';
	font-size: 5rem;
	transition: 3s;
	animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-in-expand:hover {
	color: #DAB600;
}

.tracking-in-expand img {
	width: 1.5rem;
	border-bottom: .2rem solid #F6F6F6;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.modal-criar {
	display: none;
	flex-direction: column;
	width: fit-content;
	border-radius: .5rem;
	position: absolute;
	top: 11.5rem;
	left: 10rem;
	box-shadow: .2rem .2rem .3rem #00000031;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-criar h2 {
	font-size: 1rem;
	font-weight: 100;
	margin-bottom: .5rem;
}

.modal-pendentes-box {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 12.1rem;
	left: 10rem;
	width: 17rem;
	border-radius: .5rem;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-pendentes-box h2 {
	font-size: 1rem;
	font-weight: 100;
	border-bottom: .1rem solid #F6F6F6;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
}

.modal-pendentes-box p {
	width: 50%;
	transition: .3s;
	border-bottom: .1rem solid transparent;
	margin-bottom: .1rem;
}

.modal-pendentes-box p:hover {
	width: 100%;
	cursor: pointer;
	border-bottom: .1rem solid #F6F6F6;
	color: #DAB600;
}

.modal-finalizadas-box {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 12.1rem;
	left: 10rem;
	width: 17rem;
	border-radius: .5rem;
	background-color: #1E1E1E;
	padding: 1rem;
}

.modal-finalizadas-box h2 {
	font-size: 1rem;
	font-weight: 100;
	border-bottom: .1rem solid #F6F6F6;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
}

#caixaTarefa {
	width: 15rem;
	height: 1.5rem;
	background-color: #F6F6F6;
	padding: .8rem .5rem;
}

.adicionar-tarefa {
	width: 5rem;
	border: none;
	border-radius: .3rem;
	cursor: pointer;
	transition: .1s;
	color: #111;
	background-color: #DAB600;
	padding: .5rem;
	margin-top: 1rem;
}

.adicionar-tarefa:hover {
	color: #F6F6F6;
	background-color: #111;
}

@media screen and (max-width: 767px) {
	.menu {
		width: 8rem;
	}

	.menu h1 {
		padding: .3rem .3rem .3rem 1.2rem;
	}

	.tracking-in-expand {
		font-size: 2.5rem;
	}

	.tracking-in-expand img {
		width: 1rem;
  }
}